@import "tailwindcss";


@theme {
  --color-bgPrimary: #ededed;
  --color-bgButton: #2a2a5c;
  --color-textButton: #f8f5f5;
  --color-borderColor: #b6abab;
  --color-hoverbutton: #2a2a5cc2;
}

body{
  background-color: var(--color-bgPrimary);
  color: black;
}